* {
    box-sizing: border-box;
  }

 .low {
   background-color: greenyellow;
 }

 .moderate {
   background-color: yellow;
 }

 .high {
   background-color: orange;
 }

 .very-high {
   background-color: orangered;
 }